QTask[current="true"] {
border: 1px solid blue;
}

QTask[current="false"] {
border-style: none;
}

QTask[done="true"] { background-color: #7cfc00; }
QTask[done="false"] { background-color: #ee0000; }

QTask {
border-style: outset;
border-width: 1px;
border-color: beige;
border-radius: 10px;
}
