QTask[current="true"] {
border: 1px solid blue;
}

QTask[current="false"] {
border-style: none;
}

/* The Order is important don't change it unless you know what you're doing */
QTask[done="false"] { background-color: #eec900; }
QTask[late="true"] { background-color: #cd3700; }
QTask[done="true"] { background-color: #7cfc00; }

QTask, QCheckBox, QToolButton, QMenu {
border-style: outset;
border-width: 1px;
border-color: beige;
border-radius: 10px;
}

QToolButton#closeButton {
color: red;
}
